@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: local("Aeonik"),
   url("./assets/fonts/Aeonik/Aeonik-Regular.otf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Aeonik'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: none;
} 

.searchtable{
  overflow-y:scroll;
  height:500px;
  display:block;
}

.backdrop-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  #banner {
    flex-direction: column;
  }
  #search {
    margin-top: 60vh;
  }
}